.container {
	row-gap: 3.5rem;
}

.data {
	display: grid;
	row-gap: 2rem;
}

.description {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.icon {
	font-size: 1.25rem;
}

.subtitle {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	color: var(--text-color);
	margin-bottom: var(--mb-0-5);
}

@media screen and (min-width: 767px){
.container{
    grid-template-columns: repeat(2, 1fr);
  }

}
