.bg {
	background-color: var(--first-color);
	padding: 3rem 2rem 2rem;
	border-radius: 1rem;
}

.container {
	gap: 2rem;
	padding-top: 1rem;
}

.title {
	color: #fff;
}

.card {
	background-color: var(--container-color);
	padding: 2.5rem 3rem 2rem 1.5rem;
	border-radius: 1rem;
}

.card_description {
	font-size: var(--small-font-size);
}

.card_number {
	display: inline-block;
	background-color: var(--first-color-alt);
	color: #fff;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	font-size: var(--h2-font-size);
	margin-bottom: var(--mb-1-5);
	transition: 0.3s;
}

.card_title {
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-0-5);
}

.card:hover .card_number {
	transform: translateY(-0.25rem);
}

@media screen and (max-width: 320px) {
	.bg {
		padding: 2rem 1rem;
	}
	.card {
		padding: 1.5rem;
	}
}

@media screen and (min-width: 576px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
	.bg {
		padding: 3.5rem 2.5rem;
	}
	.card_title {
		font-size: var(--normal-font-size);
	}
}
